.image-add{
    background-image: url(images/donation7.jpg);
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    padding-bottom: 500px;
}
.edit{
    font-size: 70px;
}

.h1{

    text-align: center;
    color: white;
    padding-top: 0%;
    font-size: 80px;
}
.h2{
    text-align: center;
    color: white;
    padding-top: 0%;
    font-size: 80px;
}
.p{
    text-align: center;
     color: blanchedalmond;
    padding-bottom: 20px; 
    font-size: 25px;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
}
div{
    text-align: center;
}

.section-2 h1{
    color: black;
    padding-top: 150px;
}
.section2-h2{
    font-size: 50px;
    color: gray;
}

.description{
    font-size: 20px;
    color: gray;
}


.link-button-2{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;

}
.edit3{
    font-size: 70px;
}

.modify{
    padding-bottom: 50px;
    font-size: 20px;
    color: light grey;
}

.flexible-container{
    display: flex;

}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    box-shadow: 10px 10px 40px lightslategray;
    border-left: 10px;
}

footer{
    color: tomato;
    text-align: center;
    background-color:black;
    margin: auto;
}
.final-edit{
    padding-top: 150px;

}

.padding{
    padding-top: 150px;
}